force-app/main/default/flows/Guided_Contact_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Account</name>
        <label>Create Account</label>
        <locationX>847</locationX>
        <locationY>447</locationY>
        <actionName>NewAccount</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Get_Account_Id</targetReference>
        </connector>
        <inputParameters>
            <name>Name</name>
            <value>
                <elementReference>Account_Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Phone</name>
            <value>
                <elementReference>Account_Phone.value</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>470</locationX>
        <locationY>442</locationY>
        <actionName>NewContact</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>End</targetReference>
        </connector>
        <inputParameters>
            <name>Phone</name>
            <value>
                <elementReference>Contact_Phone.value</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Email</name>
            <value>
                <elementReference>Contact_Email.value</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>FirstName</name>
            <value>
                <elementReference>Contact_First_Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LastName</name>
            <value>
                <elementReference>Contact_Last_Name</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Create_Contact_With_Account</name>
        <label>Create Contact With Account</label>
        <locationX>567</locationX>
        <locationY>447</locationY>
        <actionName>NewContact</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>End</targetReference>
        </connector>
        <inputParameters>
            <name>AccountId</name>
            <value>
                <elementReference>Get_Account_Id.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Phone</name>
            <value>
                <elementReference>Contact_Phone.value</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Email</name>
            <value>
                <elementReference>Contact_Email.value</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>FirstName</name>
            <value>
                <elementReference>Contact_First_Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LastName</name>
            <value>
                <elementReference>Contact_Last_Name</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>Account_Junction</name>
        <label>Account Junction</label>
        <locationX>466</locationX>
        <locationY>259</locationY>
        <defaultConnector>
            <targetReference>Create_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckedYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CustomAccountBoolean</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Information_Details</targetReference>
            </connector>
            <label>CheckedYes?</label>
        </rules>
    </decisions>
    <interviewLabel>Guided Contact Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Guided Contact Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account_Id</name>
        <label>Get Account Id</label>
        <locationX>718</locationX>
        <locationY>448</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Contact_With_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Account_Information</name>
        <label>Account Information</label>
        <locationX>177</locationX>
        <locationY>424</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Account_Junction</targetReference>
        </connector>
        <fields>
            <name>CustomAccountQuestion</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Would you like to create an account for {!Contact_First_Name} {!Contact_Last_Name}?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CustomAccountBoolean</name>
            <dataType>Boolean</dataType>
            <fieldText>Yes</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;If you do not, one will be generated for you&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Account_Information_Details</name>
        <label>Account Information Details</label>
        <locationX>684</locationX>
        <locationY>254</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Account</targetReference>
        </connector>
        <fields>
            <name>Account_Text</name>
            <fieldText>&lt;p&gt;Please fill out the Account information.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Account_Name</name>
            <dataType>String</dataType>
            <fieldText>Account Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Account_Phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Contact_Create</name>
        <label>Create a new Contact</label>
        <locationX>177</locationX>
        <locationY>221</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Account_Information</targetReference>
        </connector>
        <fields>
            <name>Hello</name>
            <fieldText>&lt;p&gt;Hello, Please fill out the contact&apos;s information.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Contact_Name</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Contact_First_Name</assignToReference>
                <name>firstName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Contact_Last_Name</assignToReference>
                <name>lastName</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Contact_Phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Contact_Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Contact_Address</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>End</name>
        <label>End</label>
        <locationX>559</locationX>
        <locationY>706</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Thanks</name>
            <fieldText>&lt;p&gt;Thank you very much!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>52</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>Contact_Create</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountShouldLink</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contact_First_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contact_Last_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
